body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    /* background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
    color: #ffffff;
    overflow: hidden;
}

header {
    background-color: #d9d8ec;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
    z-index: 1;
   position: relative;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    animation: fadeIn 6s ease-in-out;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20em;
}

nav ul li {
    margin: 0 1rem;
   
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
   
}

nav ul li a:hover {
    color: #ff6347;
}

nav ul li.login-button {
    margin-left: auto;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 2rem;

}

section {
    margin-bottom: 2rem;
    width: 50%;
    backdrop-filter: blur(35px);
    border: 2px solid white;
    padding: 10px 40px;
    border-radius: 20px;
}

section h2 {
    font-size: 2rem;
    color: #333;
    transition: transform 0.3s ease-in-out;
}

section h2:hover {
    transform: scale(1.1);
}

footer {
    background-color: #d6d5ee;
    color: #000000;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: large;
}

.sliding-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 89%;
    background: url('https://thumbs.dreamstime.com/b/trendy-beautiful-young-asian-woman-carrying-colorful-bags-shopping-online-mobile-phone-isolated-purple-banner-background-184325828.jpg') repeat-x;
    background-size: cover;
    animation: slide 30s linear infinite;
}

.typing {
    overflow: hidden;
    animation: blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%);
    }
}